.about {
    display: flex;
    align-items:end;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 12%;
}

.about img {
    width: 400px;
    height: auto;
    border: 5px solid #000000;
    border-radius: 275px;
}

.about-content {
    padding: 5%;
}

.highlight {
    background-image: linear-gradient(to right, #3177FF 0%, #6d26d6 30%, #A40CEC  70%, #547ad9 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.9s ease-in-out;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }