@font-face {
  font-family: mainFont;
  src: url("../Secular_One/SecularOne-Regular.ttf");
}
.App {
  font-family: mainFont, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.mainProfile {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 5%;
  background-color: #ffffff;
}

.links img{
  width: 50px;
  height: 50px;
}