@font-face {
  font-family: mainFont;
  src: url("../Secular_One/SecularOne-Regular.ttf");
}
.App {
  font-family: mainFont, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 20%;
}

.mainProfile {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
  padding: 1% 1%;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
}

.links img{
  width: 60px;
  height: 60px;
  padding: 5px;
  transition: 0.3s;
}

.links img:hover{
  width: 65px;
  height: 65px;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  .mainProfile {
    width: 100%;
  }
  .links {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 0;
    position:fixed;
  }
}